#homepage--greeting {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    max-width: 500px;
}

.homepage--social-icon {
    margin: 5px;
}

.homepage--headshot-container {
    margin: .5rem;
}

.headshot {
    height: 200px;
}